.logo {
    display: flex;
    align-items: center;
}


.white {
    color: white;
}

.nav-bar {
    width: 20rem;
    float: left;
    height: 100%;
}

.search-bar {
    background-color: red;
    height: 5rem;

    display: flex;
    align-content: center;
    justify-content:space-evenly;
}

