.color{
    background-color: rgb(235, 238, 238);
    height: 22rem;
}

.padding-top-title{
    padding-top: 4rem;
}

.image{
    border-radius: 999px;
    margin-top: 3rem;
}

.flex{
    flex: 1;
}



